* {
    margin: 0;
    padding: 0;
}

.carousel-wrapper{
    position: relative;
    width: 600px;
    height: 200px;
    display: flex;
    align-content: center;   
    overflow: hidden;
}

.left-btn {
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    top: 50%;
}

.right-btn{
    position: absolute;
    color: aliceblue;
    font-size: 40px;
    top: 50%;
    right: 0;
}

.right-btn:hover, .left-btn:hover {
    color: blue;
    background-color: black;
    cursor: pointer;

}

.carousel-images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.carousel-images img{ 
    width: 600px;
    height: 200px;
}