#btn {
    width: 200px;
    background-color: #fff;
    color: cyan;
    border: 2px solid cyan;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: 0 auto;
}

#btn:hover {
    border: none;
    background-color:cyan;
    color: #fff;
    cursor: pointer;
}

#para {
    display: none;
    color: darkcyan;
    font-size: 20px;
    border: 1px solid grey;
    padding: 20px;
}

.para{
    display: block;
}